<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="RSAKeyExchangeService"
          address="net.tcp://localhost:8000"
          binding="netTcpBinding"
          contract="Common.IKeyExchange" />

      <endpoint name="DiffeHellmanKeyExchangeService"
          address="net.tcp://localhost:8001"
          binding="netTcpBinding"
          contract="Common.IKeyExchange" />
    </client>
  </system.serviceModel>
</configuration>